<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit_etland.web.mapper.CustomerMapper">
  <select id="selectCustomer" resultType="com.bit_etland.web.domain.CustomerDTO">
    SELECT 
    	CUSTOMER_ID customerId,
		CUSTOMER_NAME customerName,
		PASSWORD password,
		SSN ssn,
		PHOTO photo,
		PHONE phone,
		CITY city,
		ADDRESS address,
		POSTALCODE postalCode
    FROM CUSTOMERS 
    WHERE CUSTOMER_ID LIKE #{customerId}
    AND PASSWORD LIKE #{password}
  </select>
   <insert 
	  id="insertCustomer"
	  parameterType="com.bit_etland.web.domain.CustomerDTO"
	  flushCache="true"
	  statementType="PREPARED"
	  timeout="20">
        INSERT INTO CUSTOMERS(CUSTOMER_ID,CUSTOMER_NAME,PASSWORD
        					,ADDRESS,CITY,POSTALCODE,SSN,PHONE) 
        values (#{customerId}, #{customerName}, #{password}, #{address}
        		,#{city},#{postalCode},#{ssn},#{phone})
   </insert>
   
	<update
	  id="updateCustomer"
	  parameterType="com.bit_etland.web.domain.CustomerDTO"
	  flushCache="true"
	  statementType="PREPARED"
	  timeout="20">
	  UPDATE CUSTOMERS SET 
	  PASSWORD = #{password},ADDRESS = #{address},CITY = #{city}, 
	  			POSTALCODE = #{postalCode}, PHONE = #{phone} 
	  			WHERE CUSTOMER_ID LIKE #{customerId}
	</update>
	<delete
	  id="deleteCustomer"
	  parameterType="com.bit_etland.web.domain.CustomerDTO"
	  flushCache="true"
	  statementType="PREPARED"
	  timeout="20">
	  DELETE FROM CUSTOMERS WHERE CUSTOMER_ID LIKE #{customerId}
	</delete>
</mapper>